---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Card from '../components/Card.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Aboutme from '../components/Aboutme.astro';
import User from '../components/Icons/User.astro';
import Servicios from '../components/Servicios.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<Banner />
		<Servicios/>
		<SectionContainer>
			<Card />
		</SectionContainer>
		<Aboutme/>
	</main>
</Layout>

