---
const {id:id} = Astro.props
import User from '../components/Icons/User.astro';
---

<section id={id}>
    <h2 class="text-3xl font-semibold text-white flex mt-6 pl-5 gap-x-3 items-center dark:text-white pb-6">
        <User class="size-7"/>
        Sobre mi 
    </h2>
        <article class="flex flex-col md:flex-row gap-8 justify-center items-center">
            <div class="mb-4 text-white font-normal text-pretty order-2 md:order-1 text-2xl">
                <p>
                    Mi nombre es Danilo caceres soy DJ profecional hacer 10 años estudie en el Palacio de la musica con Oscar Valdez uno de losmejores DJ de uruguay y latinoamerica Contando con el abal del palacio de la musica y DJ School como DJ internacional 
                </p>
            </div>
            <img class="rounded-full size-64" src="https://i.postimg.cc/43dS6zgt/facebooko.jpg">
        </article>
    </section>