---
import Itau from './Icons/Itau.astro';
---

<article class="group border-lg border items-center h-fit">
    <div class="p-4">
        <Itau class="w-full rounded-xl object-cover shadow-xl transition"/>
        <h3 class="text-lg text-white font-medium pt-6">
            Deposito bancario 
        </h3>
        <p class="text-white flex text-justify">
            Deposito bancario 50% al momentos <br/> de contrata el servicio y el resto <br/> el dia del evento
        </p>
    </div>
</article>