<section
  class="relative bg-[url(https://i.postimg.cc/rppTRXbV/high-angle-dj-control-panel-close-up.webp)] bg-cover bg-center bg-no-repeat"
>
  <div
    class="absolute inset-0  sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h1 class="text-3xl font-extrabold sm:text-5xl text-teal-500">
        Dani DJ
        <strong class="block font-extrabold text-gray-500"> Eventos </strong>
      </h1>
    </div>
  </div>
</section>