---
const EVENTS = [
	{
		title: "Cumpleaños de 15",
		description:
			"La fiesta de 15 años es un evento especial en la vida de los jóvenes. Ofrecemos un paquete completo con iluminación y sonido de calidad para una noche inolvidable y mágica.",
<<<<<<< HEAD
		image: "../../",
=======
		image: "public/tarta-quince.jpg",
>>>>>>> 32fdfa66ffbdfc7eca1ac646587679da7985f2b7
		alt: "Cumpleaños",
	},
	{
		title: "Bodas",
		description:
			"La boda de tus sueños se hace realidad con nuestro servicio de iluminación y sonido de última generación. Con nosotros, podrás crear una noche mágica e inolvidable para ti y tus seres queridos.",
<<<<<<< HEAD
		image: "./public/novio-poniendo-anillo-dedo-novia.jpg",
=======
		image: "public/novio-poniendo-anillo-dedo-novia.jpg",
>>>>>>> 32fdfa66ffbdfc7eca1ac646587679da7985f2b7
		alt: "Bodas",
	},
	{
		title: "Eventos Corporativos",
		description:
			"Desde conferencias y presentaciones hasta fiestas de empresa, podemos proporcionarte todo lo que necesitas para asegurarte de que tu evento sea un éxito",
<<<<<<< HEAD
		image: "./public/12003024_884898498259258_6130636717072031986_n-original.webp",
=======
		image: "public/12003024_884898498259258_6130636717072031986_n-original.webp",
>>>>>>> 32fdfa66ffbdfc7eca1ac646587679da7985f2b7
		alt: "Eventos",
	},
];
---

{
	EVENTS.map((link) => (
<article class="group border-lg h-fit ">
  <img
    src={link.image}
    class="h-56 w-full rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
  />

  <div class="p-4">
    <a href="#">
      <h3 class="text-lg font-medium text-white">{link.title}</h3>
    </a>

    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500 float-right flex items-center break-all pb-8">
      {link.description}
    </p>
  </div>
</article>
	))
}
