<!-- <div class="mt-8 flex flex-wrap gap-4 text-center">
    <a 
      class="block w-full rounded bg-teal-500 px-12 py-3 text-sm font-medium text-white shadow hover:bg-neutral-900 focus:outline-none focus:ring active:bg-teal-500 sm:w-auto"
    >
      Contactame
    </a>
    </a>
  </div>  -->

  <div class="mt-8 flex flex-wrap gap-4 text-center"  >
    <a
    class="block w-full rounded bg-teal-500 px-12 py-3 text-sm font-medium text-white shadow hover:bg-neutral-900 focus:outline-none focus:ring active:bg-teal-500 sm:w-auto"
    href="#/Contacto"
    >
    Download
    </a>
</div>
