---
import MercadoPago from './Icons/MercadoPago.astro';
---

<div
class="block max-w-[18rem] rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
<div class="justify-center">
    <MercadoPago/>
</div>
  <div class="relative overflow-hidden bg-cover bg-no-repeat">
  </div>
  <div class="p-6">
    <p class="text-base">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
  </div>
</div>