---
import Payments from '../components/Icons/Payments.astro';
const {id:id} = Astro.props
---
<h2 id={id} class="text-3xl font-semibold text-white mt-6 pl-5 gap-x-3 items-center dark:text-white pb-6 flex">
    <Payments class="size-7"/> 
    Metodos de pago
</h2>

