---
import Socialpill from '../components/Socialpill.astro';
import WhatsApp from '../components/Icons/WhatsApp.astro';
import Instagram from '../components/Icons/Instagram.astro';
---

<nav class="flex mt-8 flex-wrap">
    <Socialpill href="https://wa.me/095433880">
        <WhatsApp class="size-12 md:size-14"/>
    </Socialpill>
    <Socialpill href="https://www.instagram.com/danidjeventos/">
        <Instagram class="size-12 md:size-14 "/>
    </Socialpill>
</nav>